@using MicheleCaggiano.Models
@model LoginViewModel

@{
  ViewBag.Title = "Accesso";
}
<br />
<div class="row">
  <div class="col-md-8">
    <section id="loginForm">
      @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
      {
        @Html.AntiForgeryToken()
        <h4>Effettua l'accesso con l'account &lt;MCaggiano&gt;</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
          <div class="col-md-10">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
              </span>
              @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Indirizzo email" })
              @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-10">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="fa fa-key"></span>
              </span>
              @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
              @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>


          </div>
        </div>


        <div class="form-group">
          <div class="col-md-10">
            <div class="checkbox">
              @Html.CheckBoxFor(m => m.RememberMe)
              @Html.LabelFor(m => m.RememberMe)
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            <button class="btn btn-primary" type="submit">Accedi</button>
          </div>
        </div>


        <small class="text-muted">
          Non hai un account su &lt;MCaggiano&gt; o social network?<br />
          @Html.ActionLink("Registrati", "Register")
        </small>

        @* Enable this once you have account confirmation enabled for password reset functionality
          <p>
              @Html.ActionLink("Forgot your password?", "ForgotPassword")
          </p>*@
      }
    </section>
    <br />
  </div>
  <div class="col-md-4">
    <section id="socialLoginForm">
      @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
    </section>
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}